<!DOCTYPE html>
<html>
<head>
  <title>Youtube Share Videos</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header class="header">
  <div class="left-header">
    <h2><%= link_to 'Funny Movies', root_path %></h2>
  </div>
  <div class="right-header">
    <% if current_user %>
      <%= button_to 'My shared video', my_videos_path, method: :get, class: 'btn'%>
      <%= button_to 'Share video', new_video_share_path, method: :get, class: 'btn' %>
      <p>Welcome <%= current_user.username %>!</p>
      <%= button_to 'Logout', logout_path, method: :delete, class: 'btn' %>
    <% else %>
      <%= button_to 'Login', sessions_path, method: :get, class: 'btn' %>
      <%= button_to 'Sign Up', users_path, method: :get, class: 'btn'  %>
    <% end %>
  </div>
</header>
<%= yield %>
</body>
</html>
